<!DOCTYPE html>
<html>
<head>
    <title>Neptyne Release Notes</title>
    <style>
        body {
            background-color: #f8f8f8;
            color: #333;
            max-width: 800px;
            margin: 0 auto;
            padding: 10px;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
      {{content}}
    </div>
</body>
</html>
