MANIFEST
dist
_build
/build/
dist/
neptyne_build/
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/i18n/*/LC_MESSAGES/*.mo
notebook/i18n/*/LC_MESSAGES/nbjs.json
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
notebooks/
node_modules
neptyne.db
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache
.env

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject

package-lock.json
geckodriver.log
*.iml

venv*

# React:
notebook/reacteditor/node_modules
notebook/reacteditor/coverage
notebook/reacteditor/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

server/kernel_connections
.vscode

terraform/.terraform
k8s/base/.env*
server/kernel_sessions

frontend/firebase-debug.log
frontend/ui-debug.log
frontend/firestore-debug.log

.neptyne-content
gsheets/.clasp.json

.debugpy/
excelint-service/ExceLint-core/uploads/

# Excel temp files
~$*.xlsx

# Streamlit stuff:
neptyne_kernel/codepanel.py
.streamlit/config.toml
