version: '3.8'

services:
  neptyne:
    image: neptyne/neptyne:latest
    ports:
      - "8877:8877"
    volumes:
      - ./db:/db
    command: ["python", "server/application.py", "--sqlite-db", "/db/sqlite.db"]

