aiocontextvars
alembic
anthropic
appnope
beautifulsoup4
black
contextvars
fire
gcloud-aio-storage
geopandas
google-api-python-client
google-auth-httplib2
google-cloud-aiplatform
gspread
gspread_asyncio
gspread_formatting
html2text
httpx
ipykernel~=6.13.0
ipython~=8.3.0
isort
jupyter_client
kaleido
kubernetes_asyncio
libcst
lxml_html_clean
MonkeyType
mypy
nbformat
networkx
numpy
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-tornado
opentelemetry-sdk
orjson
pandas
pdoc
Pillow~=9.4.0
pip-tools
plotly
posthog
psutil
pydeck
pyflakes~=2.5.0
pygments
pyjwt
pytest
pytest-asyncio
pytest-monkeytype
pytest-snapshot
pytest-timeout
python-dateutil
python-dotenv
readability-lxml
requests
ruff
scikit-learn
stack-data
streamlit
tabulate
tiktoken
tokenize_rt
tornado
tornado-sqlalchemy
types-croniter
types-Markdown
types-paramiko
types-protobuf
types-python-dateutil
types-PyYAML
types-requests
types-setuptools
types-tabulate
types-typed-ast
untokenize
urllib3
